
#header_inner,#footer_inner,#main_inner{
	width: 1160px;
	margin: 0 auto;
}


#header{
	height: 118px;
	padding-top: 35px;
	padding-bottom: 20px;
	border-bottom: 2px solid #fd5723;
}
#header_inner{
	height: 118px;
	background: url(../../Resource/img/home_logo.png) no-repeat 30px top;
}
#header_inner h1{
	font-size: 23px;
	color: #585858;
	margin-left: 255px;
	padding: 11px 0 56px 26px;
	border-left: 1px solid #e5e5e5;
}
#header_inner h2{
	height: 28px;
	line-height: 28px;
	font-size: 13px;
	color: #707070;
	text-align: right;
	padding-right: 30px;
}
#header_inner h2 a{
	color: #ff5500;
}


#main{
	background: #fbfbfb;
}
#main_inner{
	overflow: hidden;
}
#contain{
	width: 744px;
	margin: 40px auto 30px;
	box-shadow: 0 3px 30px #f8af90;
	padding: 50px 0 54px 136px;
}
.info1{
	overflow: hidden;
	margin-bottom: 15px;
}
.info1 label{
	float: left;
	width: 99px;
	height: 42px;
	line-height: 42px;
	text-align: right;
	font-size: 15px;
	color: #a4a4a4;
	margin-right: 20px;
}
.info1 input{
	float: left;
	width: 270px;
	height: 40px;
	padding-left: 10px;
	border: 1px solid #dcdcdc;
	margin-right: 20px;
	outline: none;
	font-size: 12px;
}
.info1 span{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	height: 30px;
	font-size: 11px;
	color: #ccc;
	background: url(../../Resource/img/notice.png) no-repeat left 10px;
	display: none;
}
.info1 .false{
	color: #fe5722;
	background: url(../../Resource/img/false.jpg) no-repeat left 10px;
}
.info1 .success{
	color: #268bf3;
	background: url(../../Resource/img/success.jpg) no-repeat left 10px;
}
.info1_list{
	width: 270px;
	height: 37px;
	font-size: 12px;
	margin-left: 120px;
	display: none;
}
.info1_list p{
	display: inline-block;
	float: left;
	padding-top: 23px;
	margin: 0 5px;
}
.info1 .info1_list span{
	display: inline-block;
	margin-right: 2px;
	width: 40px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	background: #c4c4c4;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	padding: 0;
}
.info1 .info1_list .safe{
	background: #f79100;
}
.info2{
	overflow: hidden;
	margin-bottom: 21px;
}
.info2 input{
	width: 160px;
	margin-right: 10px;
}
.codeshow{
	float: left;
	width: 104px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 30px;
	background: url(../../Resource/img/code.png) no-repeat;
	border: 1px solid #000;
}
.changeCode{
	float: left;
	padding-left: 10px;
	text-align: right;
	line-height: 42px;
	font-size: 11px;
	color: #585858;
	margin-right: 20px;
}
.changeCode a{
	color: #0658b4;
	cursor: pointer;
}
.info3{
	height: 16px;
	margin-left: 120px;
	margin-bottom: 40px;
	overflow: hidden;
}
.checked{
	margin-right: 10px;
	float: left;
}
.protocol{
	float: left;
	color: #585858;
	padding-top: 2px;
}
.protocol a{
	color: #fe5722;
	cursor: pointer;
}
.info4 .btn{
	width: 300px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #ff5500;
	font-size: 18px;
	color: #fff;
	border: 0;
	cursor: pointer;
	margin-left: 105px;
}


#footer{
	background: #fafafa;
}
#foot{
	border-top: 1px solid #e3e3e3;
	border-bottom: 2px solid #ff2d2e;
	padding-top: 15px;
	height: 190px;	
	overflow: hidden;
}
.order1{
	float: left;
	padding-left: 20px;
	width: 150px;
	height: 180px;
}
.order1 dt{
	border-bottom: 1px solid #e3e3e3;
	font-size: 16px;
	font-weight: bolder;
	line-height: 40px;
	padding-left: 8px;
}
.order1 dd a{
	display: inline-block;
	font-size: 11px;
	padding-left: 8px;
	padding-top: 11px;
}
#footer_inner div{
	overflow: hidden;
}
#footer_inner div img{
	float: left;
	padding-top: 22px;
	margin-right: 4px;
}
#footer_inner div .first{
	margin-left: 180px;
}
#footer_inner p{
	line-height: 27px;
	font-size: 11px;
	color: #686868;
	margin: 0 auto;
	text-align: center;
}
#footer_inner{
	padding-bottom: 60px;
}



