#header_inner,#main_inner,#footer_inner,#bottom_inner{
	width: 1200px;
	margin: 0 auto;
}


#top img{
	width: 100%;
	height: 80px;
}


#head_t{
	height: 30px;
	background: #f8f8f8;
	border-bottom: 1px solid #ebebeb;
}
#header_inner,#footer_inner{
	overflow: hidden;
}
.list1{
	float: left;
	overflow: hidden;
	padding: 8px 0;
}
.list1 li{
	float: left;
	font-size: 12px;
	padding: 0 5px;
	color: #959595;
}
.list1 li:nth-child(1){
	padding-left: 0;
	border-right: 1px solid #b395b3;
}
.list1 li:nth-child(2){
	border-left: 1px solid #d9f8f8;
}
.list1 li:nth-child(3) a{
	padding-left: 14px;
	cursor: pointer;
}
.list2{
	float: right;
	overflow: hidden;
}
.list2 li{
	float: left;
	font-size: 12px;
	color: #686868;
	padding: 0 17px;
	padding-top: 9px;
	cursor: pointer;
}
.list2 li:nth-child(1) a{
	color: red;
}
.list2 .loginsuccess{
	width:66px;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	padding: 0 10px;
	padding-top: 9px;
	display: none;
	height:22px;
	overflow: hidden;
}
.list2 .loginsuccess p{
	margin-bottom: 10px;
	text-align: center;
}
.list2 .mall{
	width: 48px;
	position: relative;
	padding-left: 13px;
    padding-right: 21px;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    overflow: hidden;
}
.mall .arrow{
	width: 7px;
	height: 5px;
	position: absolute;
    top: 17px;
    left: 70px;
    transition: transform 0.1s 0s linear;  
}
.mall .code{
	width: 54px;
	height: 54px;
	background: #fff;
	padding: 12px 14px;
	border: 1px solid #ebebeb;
	border-top: 0;
	position: absolute;
	top: 30px;
	left: -1px;
	display: none;
}


#head_c{
	height: 70px;
	background: url(../../Resource/img/home_logo.png) no-repeat left center;
	padding-top: 30px;	
}
.search{
	margin-left: 365px;
	overflow: hidden;
}
.search input{
	width: 349px;
	height: 31px;
	padding-left: 37px;
	background: url(../../Resource/img/home_search.png) no-repeat 10px;
	border: 2px solid #fe5722;
	float: left;
	outline: none;
}
.search .button{
	float: left;
	width: 93px;
	height: 37px;
	text-align: center;
	line-height: 35px;
	background: #fe5722;
	color: #FFFFFF;
	font-size: 15px;
}
.search .a{
	float: left;
	width: 56px;
	height: 15px;
	font-size: 12px;
	color: #fe5722;
	padding-left: 30px;
	padding-top: 15px;
	margin-left: 60px;	
}
.order{
	background: url(../../Resource/img/home_order.png) no-repeat left center;
}
.talk{
	background: url(../../Resource/img/home_talk.png) no-repeat left center;
}
.list3{
	overflow: hidden;
	margin-left: 365px;
}
.list3 li{
	float: left;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	color: #bcbcbc;
	margin-right: 5px;
}
.list3 li a{
	color: #bcbcbc;
	font-size: 12px;
}

.head_b{
	font-size: 14px;
	color: #585858;
	margin-bottom: 10px;
}
.head_b span{
	font-size: 18px;
	color: #fe5722;
	font-weight: bolder;
}

#head_nav{
	height: 35px;
	border-bottom: 2px solid #fe5722;
}
.list4{
	overflow: hidden;
}
.list4 li{
	float: left;
}
.list4 li a{
	display: block;
	font-size: 16px;
	padding-left: 50px;
	line-height: 35px;
}
.nav .classify{
	padding: 0;
	font-weight: bolder;
	width: 210px;
	height: 35px;
	text-align: center;
	background: #FE5722;
	color: #fff;
}
.nav{
	position: relative;
	/*height: 484px;*/
}
.banner_nav{
	width: 191px;
	height: 440px;
	background: #fff;
	padding: 0 7px 9px 10px;
	border: 1px solid #ececec;
	border-top: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 35px;
	/*display: none;*/
	z-index: 1;
}
.banner_nav .regular{
	overflow: hidden;
	border-bottom: 1px solid #ececec;
}
.banner_nav .regular dt{
	font-size: 12px;
	font-weight: bolder;
	color: #FE5722;
	line-height: 32px;
}
.banner_nav .regular dd a{
	float: left;
	font-size: 12px;
	width: 63px;
	text-align: left;
	line-height: 28px;
	height: 28px;
	background: #fff;
	padding-left: 0;
}


#nav_name{
	height: 38px;
	line-height: 38px;
	font-size: 12px;
	color: #666666;
	overflow: hidden;
}
#nav_name a{
	float: left;
}
.top_name{
	float: left;
}

.present{
	overflow: hidden;
}
.present_img{
	float: left;
}
.big_img{
	width: 400px;
	height: 400px;
	background: #fff;
	border: 1px solid #eeeeee;
	margin-bottom: 11px;
	position: relative;
}
.box{
	width: 400px;
	height: 400px;
	background: url(../../Resource/img/big_08.jpg) no-repeat center;
	position: relative;
	background-size: 100%;
}


.select{
	width: 100px;
	height: 100px;
	background: pink;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	cursor: pointer;
}
.hide{
	width: 400px;
	height: 400px;
	background: deepskyblue;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.enlarge{
	width: 400px;
	height: 400px;
	background: #fff url(../../Resource/img/big_08.jpg) no-repeat;
	background-size: 400%;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 0;
	left: 400px;
	display: none;
	z-index: 1;
}

.small_img{
	height: 62px;
	width: 402px;
	overflow: hidden;
}
.small_img img{
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #EEEEEE;
	margin-right: 18px;
	cursor: pointer;
}
.share{
	padding-top: 28px;
	padding-bottom: 44px;
	overflow: hidden;
}
.share_l{
	width: 105px;
	height: 16px;
	padding-left: 20px;
	margin-right: 20px;
	background: url(../../Resource/img/share_01.png) no-repeat left center;
	overflow: hidden;
	float: left;
}
.share_l p{
	line-height: 16px;
	font-size: 12px;
	color: #585858;
	float: left;
}
.share_l a{
	float: left;
	cursor: pointer;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-right: 4px;
	background: url(../../Resource/img/share_ico.png) no-repeat center -1809px;
}
.share_l a:nth-child(3){
	background-position-y: -96px;
}
.share_l a:nth-child(4){
	background-position-y: -64px;
}
.share_r{
	width: 60px;
	height: 14px;
	line-height: 14px;
	padding-left: 20px;
	padding-top: 2px;
	background: url(../../Resource/img/share_05.png) no-repeat left bottom;
	float: left;
}
.share_r a{
	display: block;
	font-size: 12px;
}

.present_title{
	float: left;
	width: 530px;
	height: 480px;
	padding: 0 25px;
	border-right: 1px solid #eeeeee;
}
.present_title h1{
	width: 530px;
	height: 40px;
	font-size: 18px;
	font-weight: normal;
	color: #000;
	line-height: 40px;
}
.present_title textarea{
	width: 530px;
	height: 166px;
	border: 0;
	resize: none;
	line-height: 22px;
	font-size: 12px;
	color: #585858;
	margin-bottom: 5px;
}
.price{
	width: 510px;
	height: 65px;
	padding: 15px 0 15px 20px;
	background: url(../../Resource/img/price_bg.png) no-repeat;
	border-bottom: 1px dotted #e2e2e2;
}
.price p{
	font-size: 12px;
	color: #585858;
	line-height: 21px;
}
.price p del{
	font-size: 14px;
}
.price p:nth-child(2){
	line-height: 43px;
	position: relative;
}
.price p b{
	font-size: 24px;
	color: #ff5417;
	position: absolute;
}
.list5{
	width: 530px;
	height: 40px;
	border-bottom: 1px dotted #e2e2e2;
	overflow: hidden;
	margin-bottom: 15px;
}
.list5 li{
	float: left;
	width: 264px;
	text-align: center;
	margin: 14px 0;
	border-right: 1px solid #cbcbcb;
	font-size: 12px;
	color: #585858;
}
.list5 li:nth-child(2){
	border-right: 0;
}
.list5 li span{
	color: #ff5722;
}
.present_count{
	overflow: hidden;
	margin-bottom: 25px;
}
.present_count p{
	width: 86px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color: #585858;
	float: left;
}
.count{
	float: left;
	overflow: hidden;
}
.count input{
	width: 74px;
	text-align: center;
	height: 38px;
	border: 1px solid #e1e1e1;
	outline: none;
	margin-right: 5px;
	float: left;
}
.count div{
	width: 18px;
	height: 40px;
	float: left;
}
.count div input{
	width: 18px;
	height: 18px;
	border: 0;
	background: url(../../Resource/img/count_plus.png) no-repeat;
	margin-bottom: 6px;
	cursor: pointer;
}
.count div input:nth-child(2){
	margin-bottom: 0;
	background: url(../../Resource/img/count_minus.png) no-repeat;
}
.buy{
	padding-left: 20px;
}
.buy_list{
	overflow: hidden;
}
.buy_list li{
	width: 130px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border: 2px solid #ff5417;
	font-size: 16px;
	color: #ff5417;
	background: #FFFFFF;
	float: left;
    margin-right: 8px;
	cursor: pointer;
}
.buy_list li:nth-child(2){
	background: #ff5417 url(../../Resource/img/product_add.png) no-repeat 10px center;
	padding-left: 40px;
	width: 90px;
	text-align: left;
	color: #fff;
}
.joinCart{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.15);
	z-index: 2;
	display: none;
}
.cart_box{
	width: 360px;
	height: 160px;
	background: #fff;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	position: fixed;
	bottom: 70px;
	left: 50%;
	margin-left: -180px;
	box-shadow: 0 0 10px 0 #210001;
}
.cart_dialog{
	width: 345px;
	height: 35px;
	padding-left: 15px;
	line-height: 35px;
	background: #f3f3f3;
	position: relative;
}
.cart_dialog p{
	font-size: 12px;
	color: #535353;
}
.cart_dialog img{
	width: 12px;
	height: 12px;
	position: absolute;
	right: 10px;
	top: 12px;
	cursor: pointer;
}
.dialog_item{
	padding: 10px 68px 0 80px;
	width: 212px;
	/*overflow: hidden;*/
}
.dialog_item p{
	width: 209px;
	padding-left: 3px;
	line-height: 45px;
	height: 45px;
	overflow: hidden;
}
.cart_box .dialog_item a{
	display: inline-block;
	width: 90px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	background: #fff5f3;
	border: 1px solid #ffb49d;
	font-size: 12px;
	color: #FE5722;
	padding-left: 0;
	overflow: hidden;
}
.cart_box .dialog_item a:nth-child(3){
	background: #FE5722;
	color: #fff;
}


.present_support{
	float: left;
	width: 180px;
	height: 330px;
	padding-left: 17px;
	padding-top: 15px;
}
.present_support p{
	font-size: 12px;
	color: #585858;
}

.introduce{
	overflow: hidden;
	margin-bottom: 20px;
}
.commend{
	width: 206px;
	border: 1px solid #eeeeee;
	margin-right: 5px;
	float: left;
}
.commend h2{
	font-size: 16px;
	color: #4c4c4c;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}
.commend_product{
	padding: 0 18px;
	height: 241px;
}
.chunk{
	padding-top: 10px;
	height: 215px;
}
.chunk_img{
	display: block;
	width: 170px;
	height: 160px;
}
.commend_product .chunk p:nth-child(2){
	height: 38px;
	line-height: 19px;
	overflow: hidden;
}
.commend_product .chunk p:nth-child(3){
	padding-left: 2px;
	line-height: 25px;
	color: #ff5417;
	font-size: 12px;
	font-weight: bolder;
}
.details{
	width: 981px;
	float: right;
}
.list6{
	width: 979px;
	height: 40px;
	border: 1px solid #eeeeee;
}
.list6 li{
	float: left;
	text-align: center;
	line-height: 38px;
	width: 131px;
	height: 38px;
	cursor: pointer;
	font-size: 12px;
	color: #4c4c4c;
}
.list6 .select1{
	height: 39px;
	border-top: 2px solid #ff2d2e;
	border-left: 1px solid #ff2d2e;
	border-right: 1px solid #ff2d2e;
	background: url(../../Resource/img/details_06.png) no-repeat center top;
	color: #ff2d2e;
	position: relative;
	top: -1px;
	left: -1px;
}
.list6 li span{
	color: #FF5722;
	font-size: 14px;
}

.list7{
	padding: 20px;
	overflow: hidden;
}
.list7 li{
	float: left;
	width: 310px;
	background: #f5f5f5;
	margin-right: 3px;
}
.list7 li p{
	line-height: 23px;
}
.details_product div{
	width: 981px;
}
.details_product div img{
	margin: 0 auto;
}

.evaluate{
	display: none;
}
.praise{
	width: 938px;
	height: 94px;
	padding-left: 40px;
	padding-top: 30px;
	border: 1px solid #eeeeee;
	border-top: 0;
	margin-bottom: 20px;
}
.praise_l{
	float: left;
	width: 74px;
	margin-right: 62px;
}
.praise_l b{
	display: block;
	height: 43px;
	line-height: 43px;
	font-size: 35px;
	color: #ff5722;
}
.praise_l p{
	height: 21px;
	line-height: 21px;
	font-size: 12px;
	color: #585858;
}
.percent{
	float: left;
}
.percent dl{
	overflow: hidden;
	height: 21px;
	line-height: 21px;
}
.percent dl dt{
	width: 56px;
	text-align: center;
	float: left;
	font-size: 12px;
	color: #909090;
	margin-right: 7px;
}
.percent dl dd{
	float: left;
	margin-top: 5px;
	width: 100px;
	height: 10px;
	background: #efefef;
}
.one dd div{
	width: 93px;
	height: 10px;
	background: #FF5722;
}
.two dd div{
	width: 7px;
	height: 10px;
	background: #FF5722;
}
.tab{
	width: 980px;
}
.tab_top{
	width: 978px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #EEEEEE;
}
.tab_list{
	overflow: hidden;
}
.tab_list li{
	float: left;
	width: 155px;
	text-align: center;
	color: #313131;
}
.tab_list .select3{
	color: #FF5722;
}
.evaluate_list{
	padding: 0 20px;
	margin-bottom: 15px;
}
.evaluate_chunk{
	height: 72px;
	padding-top: 18px;
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
}
.star_list{
	width: 112px;
	height: 21px;
	padding: 0 11px;
	overflow: hidden;
	margin-right: 50px;
	float: left;
}
.star_list li{
	float: left;
	width: 13px;
	height: 12px;
	background: url(../../Resource/img/star.png) no-repeat -19px center;
	margin-right: 6px;
	cursor: pointer;
}
.star_list .red{
	background-position-x: 0;
}
.remark{
	float: left;
	width: 336px;
	line-height: 21px;
	text-align: center;
}
.remark p{
	font-size: 12px;
	color: #585858;
}
.userinfor{
	float: right;
	width: 86px;
	text-align: right;
}
.userinfor dt{
	font-size: 12px;
	color: #585858;
}
.userinfor dd{
	font-size: 12px;
	color: #bebebe;
}

.switchpage{
	width: 980px;
	position: relative;
}
.page_list{
	width: 600px;
	height: 30px;
	overflow: hidden;
	position: absolute;
	right: 0;
}
.page_list li{
	float: left;
	width: 30px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 10px;
	cursor: pointer;
}
.page_list p{
	float: left;
	line-height: 28px;
	margin-right: 10px;
}
.page_list li:nth-child(7){
	width: 58px;
}
.page_list li:nth-child(9) input{
	width: 30px;
	height: 26px;
	border: 0;
	outline: none;
	text-align: center;
}
.page_list li:nth-child(11){
	width: 50px;
	background: #f7f7f7;
}
.page_list .page_switch{
	border: 1px solid #ffab8f;
}


.related{
	width: 1198px;
	border: 1px solid #eeeeee;
	margin-bottom: 25px;
}
.related .related_top{
	font-size: 16px;
	line-height: 40px;
	padding-left: 15px;
	color: #4C4C4C;
}
.list8{
	overflow: hidden;
}
.related_chunk{
	padding-top: 10px;
	width: 160px;
	height: 227px;
	margin-left: 26px;
	margin-right: 10px;
	float: left;
}
.related_img{
	display: block;
	width: 160px;
	height: 160px;	
}
.list8 .related_chunk p:nth-child(2){
	height: 38px;
	line-height: 19px;
	overflow: hidden;
}
.list8 .related_chunk p:nth-child(3){
	text-align: center;
	line-height: 25px;
	color: #ff5417;
	font-size: 12px;
	font-weight: bolder;
}


#footer{
	background: #fafafa;
}
#foot{
	border-top: 1px solid #e3e3e3;
	border-bottom: 2px solid #ff2d2e;
	height: 190px;
	padding-top: 15px;
	overflow: hidden;	
}
.order1{
	float: left;
	padding-left: 20px;
	width: 150px;
	height: 180px;
}
.order1 dt{
	border-bottom: 1px solid #e3e3e3;
	font-size: 16px;
	font-weight: bolder;
	line-height: 40px;
	padding-left: 8px;
}
.order1 dd a{
	display: inline-block;
	font-size: 11px;
	padding-left: 8px;
	padding-top: 11px;
}
#footer_inner div{
	overflow: hidden;
}
#footer_inner div img{
	float: left;
	padding-top: 22px;
	margin-right: 4px;
}
#footer_inner div .first{
	margin-left: 180px;
}
#footer_inner p{
	line-height: 27px;
	font-size: 11px;
	color: #686868;
	margin: 0 auto;
	text-align: center;
}
#footer_inner p:nth-child(3){
	margin-bottom: 90px;
}



#bottom{
	width: 100%;
	height: 55px;
	background: #d00236;
	position: fixed;
	bottom: 0;
}
.bottom_left{
	display: block;
    position: relative;
    top: -10px;
    float: left;
}
.list9{
	float: left;
	width: 740px;
	overflow: hidden;
	margin-left: 50px;
}
.list9 li{
	float: left;
	margin-right: 15px;
	margin-top: 9px;
}
.list9 li a{
	text-decoration: underline;
	color: #fcff00;
}
.list9 li .white{
	color: #fff;
}
.bottom_right{
	float: right;
	position: relative;
	top: 11px;
}
.goTop{
	width: 35px;
	height: 35px;
	position: fixed;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.goTop .arrowTop{
	width: 23px;
	height: 23px;
	padding: 6px;
	background: #3b3b3b;
	position: absolute;
	top: 0;
    right: 0;  
}
.goTop .upper{
	width: 50px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	color: #fff;
	background: #fc5416;
	position: absolute;
	top: 0;
	right:-15px ;
}


#right{
	width: 6px;
	height: 100%;
	background: #3b3b3b;
	position: fixed;
	top: 0;
	right: 0;
}
#right .tell{
	width: 107px;
	height: 376px;
	position: relative;
	left: -110px;
	top: 143px;
}
